Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so
Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so
Assets/Fonts/Corporate-Logo-Rounded-Bold-ver3 SDF.asset
Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so
Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so
Library/ArtifactDB
.git/objects/pack/pack-506cbd2943d25924e872a92c0fc9d674ddc1b3e5.pack
Assets/Fonts/Corporate-Logo-Rounded-Bold-ver3 SDF.asset
